@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex; 
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
  color: #00fffb;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 20px;
}

.logo-img {
  width: 150px; 
  height: auto; 
}

.heading p {
  color: #828282;
}

.form,
.content {
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.note-item {
  outline: 2px solid #00fffb;
  max-width: 800px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative;
}

.note-item > div {
  flex: 1; 
  text-align: center; 
}

.btn-delete {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: none;
  background: rgb(255, 132, 132);
  color: black;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-item:hover .btn-delete {
  display: block;
}

.note-item h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}

.note-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.required {
  color: red;
  margin-left: 5px;
}

.note-content {
  overflow-x: auto;
  white-space: normal;
}

.g-recaptcha{
  margin: 15px auto !important;
  width: auto !important;
  height: auto !important;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -o-center;
  text-align: -ms-center;
}

.textarea-resizable {
  height: 300px; 
  resize: vertical;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: black;
  outline: 2px solid #00fffb;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-message {
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
}

.modal-button {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.modal-button.confirm {
  background-color: #00fffb;
  color: black;
}

.modal-button.cancel {
  background-color: rgb(255, 132, 132);
  color: black;
}

.modal-button:hover {
  opacity: 0.8;
}


.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #00fffb;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.captcha {
  margin-left: auto;
  margin-right: auto;
}

.btn-reverse {
  width: 20%;
  margin-bottom: 20px;
  background: #00fffb;
  color: #000;
  margin-left: auto;
  margin-right: auto;
}

.btn-close {
  width: 20%;
  margin-bottom: 20px;
  background-color: rgb(255, 132, 132);
  color: #000;
  margin-left: auto;
  margin-right: auto;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
